PowerMessenger/PowerMessenger.Aplicacao/Service References/ServidorServiceReference/PowerMessenger.Dominio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PowerMessenger.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PowerMessenger.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Mensagem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Corpo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Destinatario" nillable="true" type="tns:Cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mensagem" nillable="true" type="tns:Mensagem" />
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SituacaoConectividade" type="tns:SituacaoConectividade" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:simpleType name="SituacaoConectividade">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NaoDefinida" />
      <xs:enumeration value="Conectado" />
      <xs:enumeration value="Desconectado" />
      <xs:enumeration value="Ausente" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SituacaoConectividade" nillable="true" type="tns:SituacaoConectividade" />
</xs:schema>